<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/login.css">

    <link id="favicon" rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">

    <script src="/login.js" defer></script>

  </head>
  <body>
    <div class="main-container">
      <div class="title-container">
        <span class="title">Explorify</span>
        <span class="title-text">Explore new tracks tailored to your own tastes</span>
      </div>
      <button class="button" id='button'>
        Connect with Spotify
        <div class="__horizontal"></div>
        <div class="__vertical"></div>
      </button>
    </div>
  </body>
</html>
