<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>
    <main>
      <h2>Oh hi,</h2>      
      <a id="login" href="/login" class="btn btn-sm btn-primary">Log In With Spotify</a>
    </main>

    <footer>
      <a href="https://glitch.com/edit/#!/playlist-explorer">
        Remix this in Glitch
      </a>
    </footer>
    
  </body>
</html>
