* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
    scroll-behavior: smooth;
  }
  
  .app-container {
    padding: 0 0 0 100px;
    position: relative;
    display: inline-block;
  }

  @media only screen and (max-width: 1500px) {
    .app-container {
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  }
  
  .app {
    height: 100%;
    padding: 0px 50px;
    margin: 0 auto;  
    display: flex;
    flex-direction: row;
  }

  .content-container{
    min-width: 47vw;
    min-height: 100%;
    background-color: #fff;
    margin: 0 100px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 1500px) {
    .content-container {
      margin: 0 75px
    }
  }
  
  .app-image{
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 8px 4px -4px gray;
    position: relative;
  }

  h2.image-title {
    position: absolute;
    width: 85%;
    left: 80px;
    bottom: 50px;
    font-family: Cookie;
    font-size: 60px;
    background: transparent;
    color: black;
    text-align: left;
    /* mix-blend-mode: difference; */
  }

  .app-header-container {
    padding: 10px 30px;
  }

  .header-text {
    font-size: 24px;
    text-align: center;
  }

  .right-container {
    min-width: 26vw;
    max-width: 26vw;
  }

  .config-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 200px;
    width: 100%;  
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }

  .config-box {
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
  }
  .config-box__label {
    font-size: 12px;
  }

  .playlist-name-container {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .name-input {
    border: 0 none;
    border-bottom: 1px solid #d8d8d8;
    font-size: 16px;
  }

  .name-input:focus {
    outline: none;
    border-bottom: 1px solid #8b1bad;
  }

  .playlist-option {
    margin: 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;
  }

  .playlist-option label {
    font-size: 12px;
  }
  .save-button {
    position: relative;
    display: block;
    width: 40%;
    height: 30px;
    margin: auto;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(141deg,#6b0493,#8b1bad 40%,#8522c7);
    border-radius: 2px;
  }

  .save-button:disabled {
    opacity: 0.6;
  }

  .selection-box-container {
    position: sticky;
    top: 25px;
    height: 700px;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  
  .selection-title {
    margin: 20px 20px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;  
    font-weight: bold;
  }

  .selection-totalSelected {
    margin: 0 30px;
    font-size: 13px;
  }

  .selected-tracks-container  {
    margin: 30px 0px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
  }

  .track__container {
    min-width: 200px;
    max-width: 300px;
    min-height: 50px;
    background-color: #FC766AFF;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .selected-track {   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    display: flex;
    flex-direction: row; 
    transition: ease 0.3s;  
  }

  .track-mask {
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: ease 0.3s;
    text-align: center;
    justify-self: centers;
  }

  .track__container:hover .track-mask {
    visibility: visible;
    opacity: 1;
  }

  .track__container:hover .selected-track {
    opacity: 0.1;
  }


  .selected-track .track-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 10px;
    border-radius: 5px;
  }

  .selected-track .track-name {
    margin: auto;
    color: #000000;
    font-size: 12px;
    text-align: center;
    padding-right: 10px;
  }

.searchbutton-container {
  position: absolute;
  display: block;
  left: calc(50% - 70px);
  bottom: 70px;
  width: 140px;
  height: 70px;
  margin: 0 auto;
}
.searchbutton body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #fff;
}

.searchbutton {
  position: relative;
  height: 100%;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
.searchbutton.get-rec {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.searchbutton::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.searchbutton:hover {
      background: #ffe9e9;
      transform: translate(0, 0.25em);
}
.searchbutton:hover::before {
        box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
        transform: translate3d(0, 0.5em, -1em);
}
.searchbutton:active {
      background: #ffe9e9;
      transform: translate(0em, 0.75em);
}
.searchbutton:active::before {
        box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
        transform: translate3d(0, 0, -1em);
}