.song-list {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display : flex;
  flex-direction: column;
  padding-top: 50px;
}

.track-container {
  min-height: 110px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 0;
}
.track {
  text-decoration: none;
  background-color: transparent;
  width: 85%;
  height: 100%;
  padding: 0;
  position: relative;
  line-height: 30px;
  transition: 0.3s;
  animation-duration: 0.5s;
}
.track:hover .image__display{
  transform: scale(1.1);
}

.track:hover::before, .track:hover .info__display, .track:hover .track_length {
  background: #f3f3f3;
  transition: 0.3s;
}

.track::before {
  position: absolute;
  content: '';
  top: 20px;
  bottom: 20px;
  left: 195px;
  right: 10px;
  border-bottom: 1px solid #dfe1e6;
  transition: 0.3s;
  z-index: 1;
}

.song__display__container {
  display: flex;
  flex-direction: row;
  padding: 15px 35px ;
  position: relative;
}

.track__number {
  color: #aba5c3;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  align-self: center;
}

.image__display {
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  margin-right: 30px;
  transition: transform 0.2s;
  box-shadow: 0 6px 8px -4px rgb(0 0 0 / 30%);
}

.info__display {
  height: 65px;
  align-self: center;
  z-index: 1;
}

.info__display .songname{
  color: #50496d;
  font-size: 18px;
  font-weight: bold;
}

.artists__display {
  list-style-type: none;
  overflow-x: hidden;
  white-space: nowrap;
}

li.artist {
  color: #50496d;
  font-size: 12px;
  display: inline;
}

li.artist::after {
  content: ", ";
}

li.artist:last-child::after {
  content: "";
}

.track_length {
  position: absolute;
  height: 5px;
  right: 35px;
  bottom: 50px;
  font-size: 12px;
  color: #50496d;
  z-index: 1;
}

.add-button {
  height: 25px;
  width: 50px;
  cursor: pointer;
  margin-top: 64.5px;
  text-align: center;
  transition: ease 0.2s;
  border-radius: 2px;
  background-color: #ffffff;
}

.add-button:not(.nohover):hover {
  background-color: #000000;
  color: #ffffff;
}

